{
  "branches": "develop",
  "repositoryUrl": "https://github.com/housegamer/pichincha-challenge",
  "plugins": [
    '@semantic-release/commit-analyzer', 
    '@semantic-release/release-notes-generator',  
    '@semantic-release/github'
  ]
}